.container {
    min-height: 100vh;
}

.row {
    position: relative;
}

.mainImgWrapper {
    height: 100vh;
}

.mainImg {
    object-fit: cover;
}

.headerContainer {
    color: black;
    position: absolute;
    top: 30%;
    left: 15%;
}
.headerText {
    font-size: clamp(30px,5vw,75px);
    font-weight: 900;
}