.container {
    background-color: rgba(241, 239, 220, 0.267);
    padding: 120px 0;
} 

.row {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.textSection {
    margin: 64px 0;
    max-width: 800px;
}

.textDivider {
    width: 80%;
    background-color: black;
    height: 3px;
}

.title {
    text-align: left;
    font-size: 40px;
    /* color: #30acff; */
    color: rgb(12, 36, 80);
    max-width: 600px;
    margin-bottom: 16px;
}

.subtitle {
    margin-top: 32px;
    font-weight: bold;
    font-size: 20px;
    color: #30ACFF;
}

.textSection ul {
    margin: 16px 0;
    padding-left: 32px;
}

.bannerImg {
    height: auto;
    width: 80vw;
}

.bannerMain {
    display: flex;
    animation: bannerMovement 60s infinite linear;
}

@keyframes bannerMovement {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-80vw);
    }
}