.container {
    background-color: rgba(241, 239, 220, 0.267);
    padding: 120px 0;
} 

.row {
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.541);
    border-radius: 20px;
    padding: 16px;
    background-color: white;
}

.title {
    text-align: center;
    font-size: 40px;
    /* color: #30acff; */
    color: rgb(12, 36, 80);
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 64px;
}

.statement {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.statementPara {
    text-align: justify;
    margin: 20px 0;
    line-height: 28px;
    font-weight: 300;
    font-size: 24px;
}

.statementLink {
    color: black;
    position: relative;
    transition: all 300ms ease;
    text-align: right;
    text-decoration: none;
}

.statementLink:hover {
    /* color:#30acff; */
    /* color: rgb(12, 36, 80); */
    color: black;
    transform: translateX(-10px);
}

.statementLink:after {
    content: " >";
    /* color: #30acff; */
    /* color: rgb(12, 36, 80); */
    color: black;
    opacity: 0;
    transform: translateX(-10px);
    transition: all 300ms ease;
    position: absolute;
}

.statementLink:hover:after {
    opacity: 1;
    transform: translateX(5px);
}

.imgCaraWrapper{
    max-width: 60%;
}

.imgCara {
    overflow-x: scroll;
    border: 4px solid rgb(12, 36, 80);
    border-radius: 20px;
    padding: 8px;
    display: flex;
}

.imgCara::-webkit-scrollbar {
    display: none;
  }

.missionCaraImg {
    margin: 4px;
    height: 300px;
    width: auto;
    border-radius: 20px;
}