.container {
    background-color: rgba(241, 239, 220, 0.267);
    padding: 120px 0;
}

.row {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-size: 40px;
    /* color: #30acff; */
    color: rgb(12, 36, 80);
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 64px;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    width: calc((100%/3));
    height: 550px;
    margin: 16px;
    position: relative;
    overflow: hidden;
    transition: all 400ms ease;
    border-radius: 10px;
    box-shadow: 5px 5px 30px black;
}
.section:hover {
    scale: 1.02;
}

.praxImg { 
    width: 100%;
    height: 100%;
}

.sectionText {
    /* background-color: rgba(6, 17, 39, 0.4); */
    padding: 8px;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    transition: all 600ms ease;
    transition-delay: 200ms;
    border-radius: 10px;
}

.sectionText h1 {
    font-size: 180%;
}

.sectionText p {
    font-size: 110%;
}

.about {
    background-color: rgba(24,24,24, 0.4);
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 64px;
    justify-content: end;
    opacity: 0;
    transition: all 300ms ease;
}

.aboutTextWrapper {
    transform: translateY(100%);
    transition: all 300ms ease;
}

.section:hover .about {
    opacity: 1;
}

.section:hover .aboutTextWrapper {
    transform: translateY(0);
}

.section:hover .sectionText{
    /* transform: translate(-50%,-100%); */
    opacity: 0;
    transition: all 00ms ease;
}

.aboutTitle {
    font-weight: 800;
    color: white
}

.aboutPara {
    color:white;
    margin-top: 16px;
    font-weight: 300;
    font-size: 16px;
}

@media (max-width:1200px) { 
    .section {
        height: 450px;
    }

    .aboutTitle {
        font-size: 24px;
    }

    .aboutPara {
        font-size: 16px;
    }

    .section .about {
        padding: 32px;
    }
}

@media (max-width:992px) {
    .section {
        height: 350px;
    }

    .sectionText h1 {
        font-size: 24px;
    }

    .section .about {
        padding: 24px;
    }
}

@media (max-width:762px) {
    .imgContainer {
        flex-wrap: wrap;
    }

    .section {
        width: 100%;
        max-width: 300px;
        height: 450px;
    }

    .section .about {
        display: block;
        padding: 24px;
    }

    .section:hover .sectionText {
        opacity: 0;
    }

    .section:hover .aboutTextWrapper {
        transform: translateY(225px);
    }
}