.navHolder {
    width:100vw;
    background-color: rgba(24, 24, 24);
}

.nav {
    display: flex;
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 60px;
    padding: 0 40;
}

.logoLink {
    color:white;
    text-decoration: none;
    position: relative;
    font-weight: 400;
}

.logoLink:after {
    content: "";
    background-color: white;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0%;
    height: 1.5px;
    transition: all 300ms ease;
}

.logoLink:hover:after {
    width: 100%;
    left: 0;
}

.navList {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.navListItem {
    padding: 0 24px;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navLink {
    color: white;
    text-decoration: none;
    font-weight: 600;
    position: relative;
}

.navLink:after {
    content: "";
    background-color: white;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    transition: all 300ms ease;
}

.navLink:hover:after {
    width: 100%;
    left: 0;
}

.dropdownLink {
    position: relative;
}

.dropListItem {
    margin-top: 8px;
}

.dropdownWrapper {
    background-color: rgba(24, 24, 24);
    position: absolute;
    top: 60px;
    left:0;
    width: 100%;
    padding: 4px 24px;
    padding-bottom: 16px;
    z-index: -2;
    opacity: 0;
    transition: all 200ms ease;
    border: 3px solid rgba(12, 36, 80,0.5);
    border-top: none;
}

.dropdownLink:hover .dropdownWrapper {
    opacity: 1;
    z-index: 2;
}

.dropdownWrapper .navLink {
    font-size: 14px;
}