.container {
    background-color: rgba(241, 239, 220, 0.267);
    padding: 120px 0;
} 

.row {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 0 24px;
}

.textWrapper{
    max-width: 50%;
}

.textSection {
    margin: 64px 0;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textDivider {
    width: 80%;
    background-color: black;
    height: 3px;
}

.title {
    text-align: left;
    font-size: 44px;
    color: rgb(12, 36, 80);
    max-width: 600px;
    margin-bottom: 16px;
}

.textSection p {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}

.applicationLinks {
    display: flex;
    flex-wrap: wrap;
}

.applicationWrapper{
    width: 50%;
    padding: 24px;
}

.skeletonApp {
    background-color: rgba(128, 128, 128, 0.459);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 40px;
    margin: 32px;
    display: flex;
    justify-content: center;
}

.bannerImg {
    height: auto;
    width: 80vw;
}

.bannerMain {
    display: flex;
    animation: bannerMovement 60s infinite linear;
    margin-top: 60px;
}

@keyframes bannerMovement {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-80vw);
    }
}

@keyframes tabletMovement {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-150vw);
    }
}

@keyframes mobileMovement {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200vw);
    }
}

@media (max-width:992px) {
    .container {
        padding-top: 24px;
    }
    
    .row {
        flex-direction: column;
    }

    .textWrapper {
        width: 100%;
        max-width: none;
    }

    .applicationWrapper {
        width: 100%;
        max-width: none;
    }

    .skeletonApp {
        margin: 0;
    }
}

@media (max-width:768px) {
    
    .container {
        padding-top: 24px;
    }

    .bannerImg {
        height: auto;
        width: 150vw;
    }

    .bannerMain {
        animation: tabletMovement 60s infinite linear;
    }
}

@media (max-width:576px) {
    .applicationLinks {
        justify-content: center;
    }

    .container {
        padding-top: 24px;
    }

    .bannerImg {
        height: auto;
        width: 200vw;
    }

    .bannerMain {
        animation: mobileMovement 60s infinite linear;
    }
}